.card
  .card-block.padding-bottom-xs
    %h4.card-title
      About
    %p.card-text
      = @user.about
  %ul.list-group.list-group-flush.list-no-border.margin-bottom-sm
    %li.list-group-item
      %i.icon-home
      From
      = @user.home
    %li.list-group-item
      %i.icon-location-pin
      Lives in
      = @user.location
    %li.list-group-item
      %i.icon-graduation
      College
      = @user.college
    %li.list-group-item
      %i.icon-notebook
      Schooling
      = @user.schooling
  //do stuff here later
  .card-block.hide
    %a.card-link{:href => "#"} Card link
    %a.card-link{:href => "#"} Another link
