- comment_count = 0
- comments.each do |comment|
  - if comment_count > 3 then
    - break
  - comment_count += 1
  - user = User.find(comment.user_id)

  - comment_like = CommentLike.where(:comment_id => comment.id, :user_id => current_user.id).first
  - if comment_like
    - like_class = "btn-comment-unlike"
    - like_text = "Unlike"
  - else
    - like_class = "btn-comment-like"
    - like_text = "Like"

  - comment_like_count = CommentLike.where(:comment_id => comment.id).count
  - if comment_like_count > 0
    - comment_like_class = ''
  - else
    - comment_like_class = 'hidden';

  .media.comment-card{"data-id" => comment.id}
    .media-left
      %a{:href => "#"}
        %img._bth.img{:height => "32", :src => "https://fbcdn-profile-a.akamaihd.net/hprofile-ak-xlf1/v/t1.0-1/c0.7.40.40/p40x40/10273906_10205850730174579_6462288405333286776_n.jpg?oh=80a61eae8dbf01ec40961a565926f892&oe=576C8D7A&__gda__=1462220614_59acec5ea13e344bf7c335c79e4b064c", :width => "32"}/
    .media-body
      %p.no-margin-bottom.comment-font
        %a.comment-href{:href => ""}
          = user.first_name
          = user.last_name
        \-
        = comment.comment
      %small.text-muted
        = time_ago_in_words(comment.created_at)
        %a.btn.btn-link{:href => "javascript:void(0)", :class => like_class}
          = like_text
        %i.icon-like.text-primary.tiny-like-hand{"data-likes" => comment_like_count, :class => comment_like_class}
          = comment_like_count
