- @posts.each do |post|
  - @this_post = post
  .card.post-card-block{"data-id" => post.id, "data-comments" => post.comments.count, "data-likes" => post.post_likes.count}
    .card-header.hidden
      Featured
    .card-block.padding-bottom-xs
      .card-post
        .media
          = render "widgets/posts/post_card_manage_buttons"
          .media-left
            %a{:href => "#"}
              %img._bth.img{:height => "40", :src => "https://fbcdn-profile-a.akamaihd.net/hprofile-ak-xlf1/v/t1.0-1/c0.7.40.40/p40x40/10273906_10205850730174579_6462288405333286776_n.jpg?oh=80a61eae8dbf01ec40961a565926f892&oe=576C8D7A&__gda__=1462220614_59acec5ea13e344bf7c335c79e4b064c", :width => "40"}/
          .media-body
            .header
              %b
                = post.user.first_name
                = post.user.last_name
              - if post.post_type === 2 || post.post_type === "2"
                shared a
                %a{:href => post.post_meta["url"], :target => "_blank"}
                  link
            %small.text-muted
              = time_ago_in_words(post.created_at)
              %i.icon-people
        .post-content
          %p.margin-top-sm.post-content-inner
            = post.content
        = render partial: "widgets/posts/post_card_edit_container", locals: { post_content: post.content }
        - if !post.post_meta.blank?
          = render partial: "widgets/posts/link_preview_container", locals: { link: post.post_meta["url"], title: post.post_meta["title"], description: post.post_meta["description"], image: post.post_meta["images"]["0"]["src"], has_post_meta_data: nil}
        .post-stats.text-muted
          %small
            %span.like-count
              = post.post_likes.count
            - if post.post_likes.count == 1 then
              Like
            - else
              Likes
            \-
            = post.comments.count
            - if post.comments.count == 1 then
              Comment
            - else
              Comments
            \- 5 Shares
        %hr.hr-md/
        = render "widgets/posts/post_card_buttons"
    .card-footer.hide
      .comments-list
        = render partial: "widgets/posts/comment_widget", locals: {comments: post.comments}
      .add-comment-container
        = render "widgets/posts/add_comment_input"
