- content_for :title do
  Social Networking Script
- content_for :pagecss do
  - stylesheet_link_tag "home/firefly.home.css"
= render "common/session_nav_bar"
- content_for :body do
  .container.feeds
    .col-md-7
      = render "widgets/posts/status_widget"
      .post-container
        = render "widgets/posts/post_card_widget"
      .templates
        = render "handlebar_templates/posts/post_card_template"
        = render "handlebar_templates/posts/comment_card_template"
    .col-md-4
      = render "widgets/home/sidebar_profile_widget"
      = render "widgets/home/sidebar_people_widget"
- content_for :pagejs do
  - javascript_include_tag "helpers/posts/firefly.posts.js", "home/firefly.home.js"
