<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @comment_like.user_id %>
</p>

<p>
  <strong>Comment:</strong>
  <%= @comment_like.comment_id %>
</p>

<p>
  <strong>Comment:</strong>
  <%= @comment_like.comment %>
</p>

<p>
  <strong>Comment type:</strong>
  <%= @comment_like.comment_type %>
</p>

<%= link_to 'Edit', edit_comment_like_path(@comment_like) %> |
<%= link_to 'Back', comment_likes_path %>
