- content_for :title do
  Social Networking Script
- content_for :pagecss do
  - stylesheet_link_tag "home/firefly.home.css", "profile/firefly.profile.css"
= render "common/session_nav_bar"
- content_for :body do
  .container.banner
    = render "widgets/profile/profile_banner_widget"
  .container.feeds
    .col-md-7
      = render "widgets/posts/status_widget"
      .post-container
        = render "widgets/posts/post_card_widget"
      .templates
        = render "handlebar_templates/posts/post_card_template"
        = render "handlebar_templates/posts/comment_card_template"
    .col-md-5
      = render "widgets/profile/sidebar_about_widget"
- content_for :pagejs do
  - javascript_include_tag "helpers/posts/firefly.posts.js", "home/firefly.home.js", "helpers/people/firefly.people_helper.js", "people/firefly.people.js"
